<div class="container border">
<div class="searchbar border" style="height:10vh;">Searchbar</div>
<div class="homebox border d-flex" style="height:70vh;">
<div class="camembert border col-8"> camembert</div>
<div class="sidebar border col-4">sidebar</div>
</div>
<div class ="gamesbox border" style="height:20vh;">Gamesbox</div>
</div>
