
<div class="container border mt-6">
  <div class="searchbar border rounded d-flex align-items-center p-2">
    <div class="d-flex align-items-center me-5">
      <input
        class="form-control"
        type="text"
        name="search[query]"
        id="search_query"
        placeholder="Search your game!"
      />
    </div>

    <div class="d-flex align-items-center me-5">
      <label for="start_date" class="me-2">Start-date:</label>
      <input type="date" id="start_date" class="form-control" />
    </div>

    <div class="d-flex align-items-center me-5">
      <label for="end_date" class="me-2">End-date:</label>
      <input type="date" id="end_date" class="form-control" />
    </div>

    <div class="d-flex align-items-center">
      <label for="players" class="me-5">Players:</label>
      <input type="number" id="players" class="form-control" min="1" placeholder="Players" />
    </div>
  </div>
  <div class="homebox border d-flex" style="height:50vh;">
    <div class="camembert border col-9"> camembert</div>
    <div class="sidebar col-3"><h3><strong>Il y en a qui ont essayé...</strong></h3>
      <div class="reviewcard">
        <div><img src="https://m.media-amazon.com/images/I/81ho3NWCOZL._AC_SL1500_.jpg" alt="Disparu aux Caraïbes"></div>
        <div><h3>On a adoré !</h3>
        <p>ce jeu est vraiment super, on a passé un bon moment</p></div>
        <div id="rating"><p>4/5</p></div>
      </div>
       <div class="reviewcard">
        <div><img src="https://m.media-amazon.com/images/I/81ho3NWCOZL._AC_SL1500_.jpg" alt="Disparu aux Caraïbes"></div>
        <div><h3>On a adoré !</h3>
        <p>ce jeu est vraiment super, on a passé un bon moment</p></div>
        <div id="rating"><p>4/5</p></div>
      </div>
       <div class="reviewcard">
        <div><img src="https://m.media-amazon.com/images/I/81ho3NWCOZL._AC_SL1500_.jpg" alt="Disparu aux Caraïbes"></div>
        <div><h3>On a adoré !</h3>
        <p>ce jeu est vraiment super, on a passé un bon moment</p></div>
        <div id="rating"><p>4/5</p></div>
      </div>
       <div class="reviewcard">
        <div><img src="https://m.media-amazon.com/images/I/81ho3NWCOZL._AC_SL1500_.jpg" alt="Disparu aux Caraïbes"></div>
        <div><h3>On a adoré !</h3>
        <p>ce jeu est vraiment super, on a passé un bon moment</p></div>
        <div id="rating"><p>4/5</p></div>
      </div>
       <div class="reviewcard">
        <div><img src="https://m.media-amazon.com/images/I/81ho3NWCOZL._AC_SL1500_.jpg" alt="Disparu aux Caraïbes"></div>
        <div><h3>On a adoré !</h3>
        <p>ce jeu est vraiment super, on a passé un bon moment</p></div>
        <div id="rating"><p>4/5</p></div>
      </div>
       <div class="reviewcard">
        <div><img src="https://m.media-amazon.com/images/I/81ho3NWCOZL._AC_SL1500_.jpg" alt="Disparu aux Caraïbes"></div>
        <div><h3>On a adoré !</h3>
        <p>ce jeu est vraiment super, on a passé un bon moment</p></div>
        <div id="rating"><p>4/5</p></div>
      </div>
    </div>
  </div>
  <%# <div> %>
    <%# <ul class ="gamesbox">
      <li><img src="https://cdn.cultura.com/cdn-cgi/image/width=1280/media/pim/42_245081_1_10_FR.jpg" alt="Code Names" style="height:20vh;" class="cardgame"></li>
      <li><img src="https://m.media-amazon.com/images/I/81Pfuow1T8L._AC_SL1500_.jpg" alt="skyjo" style="height:20vh;" class="cardgame"></li>
      <li><img src="https://static.fnac-static.com/multimedia/Images/FR/MDM/0a/97/50/22058762/3756-1/tsp20241029151658/Jeu-d-enquete-Hasbro-Gaming-Cluedo-Conspiration.jpg" alt="cluedo" style="height:20vh;" class="cardgame"></li>
      <li><img src="https://www.natureetdecouvertes.com/fstrz/r/s/cache.natureetdecouvertes.com/Medias/Images/Articles/30159820/30159820-bascule-d-archim-de_P1.jpg?width=610&height=610&frz-v=748" alt="Bascule d'Archimède" style="height:20vh;" class="cardgame"></li>
      <li><img src="https://m.media-amazon.com/images/I/81ho3NWCOZL._AC_SL1500_.jpg" alt="Disparu aux Caraïbes" style="height:20vh;" class="cardgame"></li>
      <li><img src="https://m.media-amazon.com/images/I/910JmtbDKSL._SL1500_.jpg" alt="Les enfants de la résistance" style="height:20vh;" class="cardgame"></li>
      <li><img src="https://contents.mediadecathlon.com/p2034549/k$a5c9dd448e5fb9dd94941150026e504d/sq/set-roundnet-schildkrot.jpg?format=auto&f=2400x2400" alt="schildkröt" style="height:20vh;" class="cardgame"></li>
      <li><img src="https://m.media-amazon.com/images/I/81dScplCyoL._AC_SL1500_.jpg" alt="Tarot" style="height:20vh;" class="cardgame"></li>
    </ul> %>
  <%# </div> %>

<%= link_to "log out", destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
