<div id="searchresults">
  <h1 class="text-white text-center"><strong>Here are some games matching your search:</strong></h1>
    <% if @search.any? %>
      <% @search.each do |result| %>
        <div class="d-inline-flex overflow-hidden p-2"style="">
          <div class="results">
              <% result.photos.each do |photo| %>
                <%= link_to game_path(result), class: "text-decoration-none", :action => 'go' do %>
                  <%= cl_image_tag photo.key, height: 150, width: 150, crop: :fill, class: "img-fluid" %>
                <p><%= result.name%></p>
                <% end %>
              <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="text-white"><em>Sorry, no games found... Try another search!</em>
    <% end %>
  </div>
</div>
