.card-product {
  overflow: hidden;
  height: fit-content;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  margin-top: 15px;
  border-radius: 5px;
  width: 80vw;
}

.card-product-img-div {
  width: 150px;
  margin: 3px;
}

.card-product img {
  height: 100%;
  width: 150px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product-infos .bookingtable {
  align-items: center;
}

.bookingtable {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 50vw;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: transparent;
  width: fit-content;
}

.bookingheader {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-top: 15px;
  margin-bottom: 2px;
  display: flex;
  overflow: hidden;
}

.bookingheadercells {
  border: 0.5px solid white;
  padding-inline: 10px;
  background-color: $red;
  min-width: 12vw;
  flex-grow: auto;
  text-align: center;
  color: $white;
}

.bookinglines {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  margin-bottom: 2px;
  display: flex;
}
.bookinglinescells {
  border-right: 0.5px dotted $redgame;
  border-bottom: 0.5px dotted $redgame;
  background-color: transparent;
  min-width: 12vw;
  flex-grow: auto;
  text-align: center;
  align-items: center;
  justify-items: center;
  color: $redgame;
  font-weight:500;
  padding: 4px 0px 6px 0px;
  border-radius: 2px;
  overflow: hidden;
}

#lastcell {
  border-right: none;
}

.statusaccepted {
  color: $success;
}

.statusdenied {
  color: $warning;
}

.accept {
  background-color: $success;
}

.deny {
  background-color: $warning;
}

.pending {
  box-shadow: 0 0 3px rgba(0,0,0,0.4);
  transition: 0.1s;
  text-decoration: none;
  color: $redgame;
  width: 50px;
  display: inline-grid;
  padding: 4px 0px 4px 0px;
  border-radius: 20px;
}

.pending:hover {
  transform : scale(1.2);
}
