.navbar {
  justify-content: space-between;
  background: white;
  flex-grow: 0;
  padding: 10px;
}

.main-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('https://wallpapercave.com/wp/wp10463564.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: fixed;
  inset: 0;
  z-index: -1;
}

/* Dropdown Menu Styling */
.dropdown-menu {
  background-color: black; /* Black background */
  color: white; /* White font */
  border: none; /* Remove border for a clean look */
}

/* Dropdown Menu Items */
.dropdown-menu .dropdown-item {
  color: white; /* White font for each item */
}

.dropdown-menu .dropdown-item:hover {
  background-color: #333; /* Slightly lighter black for hover effect */
  color: #f8f9fa; /* Slightly off-white font for hover */
}

.navbar {
  background: rgb(15,14,43);
  background: linear-gradient(90deg, rgba(15,14,43,1) 27%, rgba(107,9,28,1) 67%);
}

#add-game {
  // box-shadow: 0 3px 5px rgb(47, 47, 47);
  color: white;
  background-color: rgb(229, 88, 18);
  margin-left: 16px;
  margin-right: 64px;
}

p {
  margin: 0px;
}
