.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// navbar input

.px-md {
  padding-bottom: 10px;
  padding-top: 10px;
}

.px-lg {
  padding-left: 10px;
  padding-right: 10px;
}
.border-outline {
border-color: grey;
border-bottom-width: var(--border-width-sm);
}
