.results {
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 4px;
  background-color: rgba($color: #ffffff, $alpha: 0.7);
  height: 220px;
  width: 220px;
  text-align: center;
  overflow: hidden;
}

#searchresults {
  margin-left: 24px;
  align-content: start;
}


.result-name {
  
}

